* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: poppins, sans-serif;
}

body {
  display: flex;
  background: #f7f7fb;
}

.sidebar {
  width: 260px;
  height: 100vh;
  background: #14092a;
  color: white;
  padding: 20px;
  position: fixed;
}

.sidebar h2 {
  margin-bottom: 20px;
}

.sidebar ul {
  list-style: none;
}

.sidebar li {
  margin: 15px 0;
}

.sidebar a {
  color: white;
  text-decoration: none;
  cursor: pointer;
}

.sidebar a.active {
  color: #38bdf8;
  font-weight: bold;
}

.sidebar-footer {
  position: absolute;
  bottom: 30px;
  font-size: 14px;
}
.sidebar-footer a[href*="github"]:hover {
  color: #000;
}

.sidebar-footer a[href*="linkedin"]:hover {
  color: #0a66c2;
}


.content {
  margin-left: 260px;
  width: calc(100% - 260px);
}

.hero {
  color:white;
  height: 500px;
  background: url("assets/hero.png") center/cover;
  padding: 60px;
}

.hero span {
  color: #ce9d61;
}

.section {
  padding: 40px 60px;
}

.section h2 {
  border-left: 5px solid green;
  padding-left: 20px;
  margin-bottom: 35px;
}

.about-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 80px;
}

.about-img img {
  width: 380px;
  border-radius: 70%;
}

.skill-box,
.card,
.edu-card {
  background: #ffffff;
  padding: 20px;
  border-radius: 8px;
  margin-bottom: 20px;
}

.skill-box span {
  background: #eef2ff;
  padding: 6px 10px;
  border-radius: 6px;
  margin: 5px;
  display: inline-block;
}

.edu-card {
  display: flex;
  gap: 20px;
}

.edu-card img {
  width: 60px;
}
.edu-card h3 a {
  color: #222;
  text-decoration: none;
}

.edu-card h3 a:hover {
  color: #0077ff;
  text-decoration: underline;
}


.cv-btn {
  display: inline-block;
  margin-top: 15px;
  color: green;
  font-weight: bold;
}

.contact-form input,
.contact-form textarea {
  width: 50%;
  padding: 10px;
  margin-bottom: 20px;
}

.contact-form button {
  width: 10%;
  padding: 10px;
  display: block;
  margin-top: 5px;
}
.project-card {
  background: white;
  padding: 22px;
  border-radius: 10px;
  margin-bottom: 25px;
}

.project-card h3 {
  margin-bottom: 5px;
}

.project-meta {
  color: #64748b;
  font-size: 14px;
  margin-bottom: 10px;
}

.project-desc {
  margin: 10px 0;
}

.project-card ul {
  margin-left: 20px;
}

.project-card li {
  margin-bottom: 8px;
}

.project-card a {
  color: #2563eb;
  text-decoration: none;
  font-weight: 500;
}

.edu-card img {
  width: 80px;       
  height: 80px;
  object-fit: cover; 
  border-radius: 8px; 
}

.card img {
  width: 80px;       
  height: 80px;
  object-fit: cover;
  border-radius: 8px;
}
.card h3 a {
  color: #222;
  text-decoration: none;
}

.card h3 a:hover {
  color: #0077ff;
  text-decoration: underline;
}



